.navbar > .links-wrapper > .center-column > .spacer10 {
    height: 10px;
    width: 100%;
}

.navbar > .links-wrapper > .center-column {
    text-decoration: none;
}

.active {
    pointer-events: none;
    cursor: default;
   }